services:
  api:
    build: .
    command: python src/app.py
    volumes:
      - .:/app:z
      - ./volumes/db:/app/volumes/db:z
      - ./volumes/uploads:/app/volumes/uploads:z
      - ./volumes/processed:/app/volumes/processed:z
    ports:
      - "5000:5000"
    environment:
      - PYTHONPATH=/app/src
    depends_on:
      - rabbitmq

  worker:
    build: .
    command: python src/worker.py
    volumes:
      - .:/app:z
      - ./volumes/db:/app/volumes/db:z
      - ./volumes/uploads:/app/volumes/uploads:z
      - ./volumes/processed:/app/volumes/processed:z
      - ./models:/app/models:z
    environment:
      - PYTHONPATH=/app/src
    deploy:
      replicas: 3
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"